<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # RewriteCond %{HTTP_REFERER} !^http://(www\.)?localhost:8000/ [NC] 
    # RewriteCond %{HTTP_REFERER} !^http://(www\.)?localhost:8000.*$ [NC]
    # RewriteRule \.(mp4|avi)$ - [F]

    # RewriteCond %{HTTP_REFERER} !^http://(www\.)?localhost [NC] 
    # RewriteCond %{HTTP_REFERER} !^http://(www\.)?localhost.*$ [NC] 
    # RewriteRule \.(gif|jpg)$ - [F]

    RewriteCond %{HTTP_HOST}@@%{HTTP_REFERER} !^([^@]*)@@https?://\1/.*  
    RewriteRule \.(gif|jpg|jpeg|png|tif|pdf|wav|wmv|wma|avi|mov|mp4|m4v|mp3|zip?)$ - [F]
</IfModule>


